.am-accordion-timimg-head {
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.am-accordion-timimg-sub-head {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;	
    font-family: "Source Sans Pro";	
    font-size: 14px;	
    line-height: 18px;
}
.MuiButtonBase-root.MuiExpansionPanelSummary-root{
	background: #03219F;
    border-radius: 3px;
}
.MuiExpansionPanelSummary-expandIcon{
	color: #fff !important;
}
.MuiExpansionPanel-root.MuiExpansionPanel-rounded.MuiPaper-elevation1{
	margin-bottom: 10px;
}
.MuiPaper-elevation1{
	box-shadow: none !important;
}
.MuiExpansionPanelDetails-root{
	padding: 8px !important;
}
.MuiExpansionPanelSummary-content.Mui-expanded{
	margin: 10px 0 !important;
}
.am-accordion-content-points-sec {
    margin: 0;
    padding-left: 20px;
}
.am-accordion-content-points-sec li {
    color: #676767;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
}
.MuiTypography-root.MuiTypography-body1{
	width: 100%;
}
.am-accordion-edit-icon{
	float: right;
}
.am-accordion-edit-icon svg{
	font-size: 18px;
    vertical-align: middle;
}
.am-accordion-observaciones-sec {
    padding-bottom: 70px;
}
.am-accordion-bottom-btn-sec{
	text-align: center;
	padding-bottom: 30px;
}
/*.am-accordion-bottom-btn-sec button{
	font-family: "Source Sans Pro";	
	font-size: 18px;	
	font-weight: bold;	
	line-height: 23px;
	width: 300px;
	background-color: #549700;
}*/
.am-accordion-content-btn-sec {
    padding: 15px 60px 15px 60px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    cursor: pointer;
}