.am-content-main-section{
	margin-top: 70px;
	display: block !important;
}
.am-main-section-content {
    display: flex;
}
.am-username-main-heading{
	color: #1F1F1F;	
	font-family: "Source Sans Pro";	
	font-size: 22px;	
	font-weight: bold;	
	line-height: 28px;
    padding-top: 80px;
    margin-bottom: 0px;
}
.am-username-sub-heading{
	color: #000000;	
	font-family: "Source Sans Pro";	
	font-size: 16px;	
	line-height: 20px;
	margin-top: 10px;
}
@media screen and (max-width: 320px), (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
    .am-empty-div {
        display: none;
    }
    .am-content-div {
        max-width: 100% !important;
        padding: 0 35px 0 35px;
        flex-basis: 100% !important;
    }
    .MuiTypography-root.MuiTypography-body1 {
    	max-width: 100% !important;
    	flex-basis: 100% !important;
	}
	.am-accordion-bottom-btn-sec button{
		width: 100% !important;
	}
}
