.pr-content-main-section{
	margin-top: 70px;
	display: block !important;
}
.pr-main-section-content {
    display: flex;
}
.pr-profile-image-section{
	text-align: center;
}
.pr-profile-image-section img {
    width: 150px;
    height: 150px;
    border-radius: 84px;
}
.pr-username-text {
    text-align: center;
    color: #1F1F1F;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}
.pr-profile-form-section {
    padding: 0px 50px 10px 40px;
    color: #505050;
    margin-bottom: 50px;
}
@media screen and (max-width: 320px), (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
    .pr-empty-div {
        display: none;
    }
    .pr-content-div {
        max-width: 100% !important;
        flex-basis: 100% !important;
    }
}