.ca-accordion-timimg-head {
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.ca-accordion-timimg-sub-head {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;	
    font-family: "Source Sans Pro";	
    font-size: 14px;	
    line-height: 18px;
}
.ca-accordion-expand-section{
	background: #1A73E8;
    border-radius: 3px;
}
.MuiExpansionPanelSummary-expandIcon{
	color: #fff !important;
}
.MuiExpansionPanel-root.MuiExpansionPanel-rounded.MuiPaper-elevation1{
	margin-bottom: 10px;
}
.MuiPaper-elevation1{
	box-shadow: none !important;
}
.MuiExpansionPanelDetails-root{
	padding: 8px !important;
}
.MuiExpansionPanelSummary-content.Mui-expanded{
	margin: 10px 0 !important;
}
.ca-accordion-content-points-sec {
    margin: 0;
    padding-left: 20px;
}
.ca-accordion-content-points-sec li {
    color: #676767;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
}
.MuiTypography-root.MuiTypography-body1{
	width: 100%;
}
.ca-accordion-edit-icon{
	float: right;
}
.ca-accordion-edit-icon svg{
	font-size: 18px;
    vertical-align: middle;
}
.ca-accordion-observaciones-sec {
    padding-bottom: 70px;
}
.ca-accordion-bottom-btn-sec{
	text-align: center;
	padding-bottom: 30px;
}
.ca-calender-weekday-text, .ca-calender-date-text {
    padding-left: 0px;
}
.ca-calender-weekday-text li {
    list-style: none;
    display: inline-block;
    padding: 0 15px 0 15px;
    color: #000000; 
    font-family: "Source Sans Pro"; 
    font-size: 17px;    
    font-weight: 600;   
    line-height: 22px;
}
.ca-calender-date-text li {
    list-style: none;
    display: inline-block;
    padding: 0 15px 0 30px;
    color: #000000; 
    font-family: "Source Sans Pro"; 
    font-size: 20px;    
    font-weight: bold;  
    letter-spacing: 0.3px;  
    line-height: 25px;
}