.ca-content-main-section{
    margin-top: 70px;
    display: block !important;
}
.ca-main-section-content {
    display: flex;
}
.ca-revisa-head-text{
    color: #1A73E8; 
    font-family: "Source Sans Pro"; 
    font-size: 18px;    
    font-weight: bold;  
    line-height: 23px;
    margin-bottom: 0px;
}
.ca-revisa-sub-text{
    color: #000000; 
    font-family: "Source Sans Pro"; 
    font-size: 16px;    
    line-height: 20px;
    margin-top: 0px;
}
.ca-select-date-text-head{
    color: #000000; 
    font-family: "Source Sans Pro"; 
    font-size: 16px;    
    font-weight: bold;  
    line-height: 20px;
}
.ca-content-div {
    padding: 15px;
}
@media screen and (max-width: 320px), (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
    .ca-empty-div {
        display: none;
    }
    .ca-content-div {
        max-width: 100% !important;
        flex-basis: 100% !important;
    }
    /*.ca-revisa-sub-text{
    	padding: 0 20px 0 20px;
    }*/
    .ca-accordion-bottom-btn-sec button {
    	width: 100%;
    	margin-left: 10px;
	}
    .ca-calender-weekday-text li {
        padding: 0 7px 0 7px !important;
    }
    .ca-calender-date-text li {
        padding: 0 15px 0 15px !important;
    }
    
}