.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  /*color: #d1d1d1;*/
  color: #000;
  transition: color 0.2s;
}
.bm-item:hover {
  /*color: white;*/
  color: #000;
}
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  /*left: 36px;*/
  top: 36px;
  left: initial;
  right: 36px;
}
.bm-burger-bars {
  /*background: #373a47;*/
  background: #789CFF;
}
.bm-cross-button {
  height: 24px;
  width: 24px;
  right: 0;
  left: 40px;
  top: 35px !important;
}
.bm-cross {
  /*background: #bdc3c7;*/
  background: #1251A2;
  width: 2px !important;
  height: 25px !important;
}
.bm-menu {
  /*background: #373a47;*/
  background: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
.bm-morph-shape {
  fill: #373a47;
}
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}
.bm-burger-bars-hover {
  /*background: #a90000;*/
  background: #789CFF;
}
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 400px !important;
}
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
/**********mycss*********/
.nav-menu-logo-section {
    text-align: center;
    padding-top: 60px;
}
.nav-menu-profile-img-section img {
    width: 150px;
    border-radius: 85px;
}
.nav-menu-profile-img-section {
    text-align: center;
    margin-top: 30px;
}
.nav-menu-user-name-text {
    color: #000000;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    padding-bottom: 60px;
}
.bm-item.menu-item svg {
    font-size: 30px;
    color: #1251A2;
    vertical-align: middle;
    padding-right: 15px;
}
.bm-item.menu-item {
    color: #1251A2;
    font-family: "Source Sans Pro";
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 25px;
}
@media screen and  (min-width: 320px) and (max-width: 480px){
    .bm-menu-wrap{
      width: 300px !important;
    }
}
.nav-logo-section{
    position: fixed;
    left: 36px;
    top: 36px;
}
.nav-main-section{
    position: fixed;
    top: 0;
    left: 0;
}
.nav-menu-logo-section:focus, .nav-menu-profile-img-section:focus, .menu-item:focus, .nav-menu-user-name-text:focus, .bm-cross-button:focus {
    outline: none;
}
@media screen and (max-width: 320px), (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
    .nav-main-section{
      z-index: 99999 !important;
    }
}
