.pw-content-main-section{
	margin-top: 70px;
	display: block !important;
}
.pw-main-section-content {
    display: flex;
}
.pw-logo-image-section{
	text-align: center;
}
/*.pw-logo-image-section img {
    width: 150px;
    height: 150px;
    border-radius: 84px;
}*/
.pw-revisa-head-text{
	color: #1F1F1F;	
	font-family: "Source Sans Pro";	
	font-size: 22px;	
	font-weight: bold;	
	line-height: 28px;
	text-align: center;
}
.pw-revisa-sub-text{
	color: #000000;	
	font-family: "Source Sans Pro";	
	font-size: 16px;	
	line-height: 20px;	
	text-align: center;
	padding: 0 95px 0 95px;
}
.pw-profile-form-section {
    padding: 0px 40px 10px 20px;
    color: #505050;
    margin-bottom: 50px;
}
.pw-accordion-bottom-btn-sec {
    text-align: center;
    padding-top: 50px;
}
.pw-accordion-bottom-btn-sec button{
	background-color: #789CFE !important;
	color: #FFFFFF;	
	font-family: "Source Sans Pro";	
	font-size: 18px;	
	font-weight: bold;	
	line-height: 23px;
	width: 300px;
}
.pw-bottom-text{
	color: #03229F;	
	font-family: "Source Sans Pro";	
	font-size: 14px;	
	font-weight: 600;	
	line-height: 18px;
	text-align: center;
}
@media screen and (max-width: 320px), (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
    .pw-empty-div {
        display: none;
    }
    .pw-content-div {
        max-width: 100% !important;
        flex-basis: 100% !important;
    }
    .pw-revisa-sub-text{
    	padding: 0 20px 0 20px;
    }
    .pw-accordion-bottom-btn-sec button {
    	width: 100%;
    	margin-left: 10px;
	}
}

/****************************************/
.paper {
    background-color: #fff;
    /*border: 2px solid #000;*/
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
    padding: 2px;
    border-radius: 5px;
}
.save-popup-close-section {
    text-align: right;
    padding: 10px;
}
#close-save-popup-btn {
    color: #4674D0;
    font-size: 20px;
    padding: 0px !important;
    width: 0px;
}
.MuiButton-contained {
    background-color: transparent !important;
    box-shadow: none !important;
}
.mi-cuenta-confirm-popup-section {
    padding: 80px 130px 50px 130px;
}
.mi-cuenta-confirm-popup-bottom-btn-section {
    display: flex;
    padding: 20px 130px 130px 130px;
}
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.save-message{
	text-align: center;
}
.image-save-section{
	text-align: center;
}
.divider-section {
    border-bottom: 1px solid #979797;
}
.bottom-link-text-sec{
	color: #03209F;	
	font-family: "Source Sans Pro";	
	font-size: 14px;	
	font-weight: bold;	
	line-height: 18px;	
	text-align: center;
}
.MuiBackdrop-root{
	background: linear-gradient(180deg, #03219F 0%, #799CFF 100%);
	opacity: 0.77 !important;
}