.container {
  height: 100vh;
}
.MuiFormControl-root.MuiTextField-root, .MuiFormControl-root{
  width: 400px;
  margin: 8px;
}
.lg-left-section {
    background: linear-gradient(126.97deg, #03219F 0%, #789BFE 100%);
    display: flex;
}
.lg-right-section {
    padding-top: 250px;
}
.lg-sub-sec-right-section-img{
  width: 531px;
  position: relative;
  top: 160px;
}
.lg-sub-sec-heading {
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 30px;
    font-weight: bold;
    line-height: 38px;
    padding-top: 260px;
    text-align: center;
    margin-bottom: 0px;
}
.lg-sub-sec-sub-heading {
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    margin-top: 0px;
}
.lg-right-form-heading {
    padding-left: 50px;
}
.lg-login-form-section {
    padding: 0px 50px 10px 40px;
    color: #505050;
}
.lg-right-section-signup-link-text {
    text-align: right;
    padding: 0 85px 0 50px;
    color: #7E0E57; 
    font-family: "Source Sans Pro"; 
    font-size: 12px;  
    font-weight: 600; 
    letter-spacing: 0.24px; 
    line-height: 15px;
    margin-top: 0px;
}
@media screen and (max-width: 320px), (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
    .lg-left-section {
        display: block;
        max-width: 100% !important;
    }
    .lg-sub-sec-heading{
        padding-top: 0px;
    }
    .lg-sub-sec-right-section-img{
        width: 320px;
        top: 0px;
    }
    .lg-right-section{
        max-width: 100% !important;
        width: 100%;
        padding-top: 0px;
        flex-basis: 100% !important;
    }
    .lg-right-form-heading {
        padding-left: 50px;
    }
    .lg-login-form-section {
        padding: 0px 50px 10px 40px;
        color: #505050;
    }
    .MuiFormControl-root.MuiTextField-root, .MuiFormControl-root {
        width: 100%;
        margin: 8px;
    }
    .MuiFormControl-root.makeStyles-margin-1{
        width: 100%;
    }
    .lg-right-section-signup-link-text{
        padding: 0 43px 0 0px;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px), (min-device-width: 320px) and
(max-device-width: 480px) and (orientation : landscape) {
    .lg-left-section {
        display: block;
        max-width: 100% !important;
        flex-basis: 100% !important;
    }
    .lg-sub-sec-heading{
        padding-top: 0px;
    }
    .lg-sub-sec-right-section-img{
        width: 320px;
        top: 0px;
    }
    .lg-right-section{
        max-width: 100% !important;
        width: 100%;
        padding-top: 0px;
        flex-basis: 100% !important;
    }
    .lg-right-form-heading {
        padding-left: 50px;
    }
    .lg-login-form-section {
        padding: 0px 50px 10px 40px;
        color: #505050;
    }
    .MuiFormControl-root.MuiTextField-root, .MuiFormControl-root {
        width: 100%;
        margin: 8px;
    }
    .MuiFormControl-root.makeStyles-margin-1{
        width: 100%;
    }
    .lg-right-section-signup-link-text{
        padding: 0 43px 0 0px;
    }
}
@media screen and (max-width: 320px), (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {
    .lg-left-section {
        display: block;
        max-width: 100% !important;
        flex-basis: 100% !important;
    }
    .lg-sub-sec-heading{
        padding-top: 0px;
    }
    .lg-sub-sec-right-section-img{
        width: 280px;
        top: 0px;
    }
    .lg-right-section{
        max-width: 100% !important;
        width: 100%;
        padding-top: 0px;
        flex-basis: 100% !important;
    }
    .lg-right-form-heading {
        padding-left: 50px;
    }
    .lg-login-form-section {
        padding: 0px 50px 10px 40px;
        color: #505050;
    }
    .MuiFormControl-root.MuiTextField-root, .MuiFormControl-root {
        width: 100%;
        margin: 8px;
    }
    .MuiFormControl-root.makeStyles-margin-1{
        width: 100%;
    }
    .lg-right-section-signup-link-text{
        padding: 0 43px 0 0px;
    }
}